.header{
    background-color: #f882b7;
    color: black;
    padding: 18px 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    font-size: 28PX;
    font-weight: bold;
}

div a{
    color: aliceblue;
    text-decoration: none;
    font-size: 16px;
    padding: 25px;
}

div a:hover{
    color: black;
}

.hero{
    min-height: 500px;
    padding: 60px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    
}